[submodule "lab_01/googletest"]
	path = lab_01/googletest
	url = https://github.com/google/googletest
[submodule "lab_02/googletest"]
	path = lab_02/googletest
	url = https://github.com/google/googletest
[submodule "lab_03/googletest"]
	path = lab_03/googletest
	url = https://github.com/google/googletest
[submodule "lab_04/googletest"]
	path = lab_04/googletest
	url = https://github.com/google/googletest
[submodule "lab_05/googletest"]
	path = lab_05/googletest
	url = https://github.com/google/googletest
